section.header::after {
  content: 'ENGI NEER';
  position: absolute;
  bottom: -4vw;
  left: 0;
  color: var(--gray);
  font-size: 33vw;
  line-height: 0.8em;
  font-weight: bold;
  z-index: -1;
  opacity: 0.4;
}
section.header {
  position: relative;
  overflow: hidden;
}
.name-wrapper {
  padding-top: 16vh;
  mix-blend-mode: difference;
  color: var(--bg-main);
  pointer-events: none;
}
.name-wrapper h1 {
  font-size: 6.5vw;
  font-weight: 600;
  line-height: 1em;
}
.name-wrapper .slug {
  font-size: 1.5vw;
  line-height: 1.5em;
}

.located-wrap .wrapper {
  background: var(--primary);
  display: flex;
  align-items: center;
  gap: calc(1vw);
  padding: 12px;
  padding-right: 4vw;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.located-wrap .wrapper p {
  color: var(--bg-main);
}
.located-wrap .wrapper .img-wrap {
  padding: 12px;
  background: var(--bg-main);
  width: max-content;
  animation: rotating 2s linear infinite;
}
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
  150% {
    transform: rotate(270deg);
  }
  200% {
    transform: rotate(360deg);
  }
}

.slider-container {
  position: absolute;
  top: calc(100vh - 200px);
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: difference;
  color: var(--bg-main);
}
.slider {
  position: relative;
  white-space: nowrap;
  display: flex;
}
.slider p {
  position: relative;
  font-weight: 400;
  font-size: 12vw;
  line-height: 1em;
  font-family: 'DM Sans', sans-serif;
  padding-right: 50px;
  letter-spacing: 0.4vw;
}
.slider p:nth-of-type(2) {
  position: absolute;
  left: 100%;
}

.grid-pixel {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}
.grid-pixel .column {
  width: 5vw;
}
.grid-pixel .column div {
  width: 100%;
  height: 5vw;
}
