@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #072d44;
  --secondary: #064469;
  --medium-blue: #5790ab;
  --light-blue: #9ccddb;
  --gray: #d0d7e1;
  --bg-main: #ecebec;
  --green: #4daa57;
}

/* @font-face {
  font-family: 'Source Serif Pro';
  src:
    url('./fonts/SourceSerifPro-Black.otf') format('otf'),
    url('./fonts/SourceSerifPro-BlackIt.otf') format('otf'),
    url('./fonts/SourceSerifPro-Bold.otf') format('otf'),
    url('./fonts/SourceSerifPro-BoldIt.otf') format('otf'),
    url('./fonts/SourceSerifPro-ExtraLight.otf') format('otf'),
    url('./fonts/SourceSerifPro-ExtraLightIt.otf') format('otf'),
    url('./fonts/SourceSerifPro-It.otf') format('otf'),
    url('./fonts/SourceSerifPro-Light.otf') format('otf'),
    url('./fonts/SourceSerifPro-LightIt.otf') format('otf'),
    url('./fonts/SourceSerifPro-Regular.otf') format('otf'),
    url('./fonts/SourceSerifPro-Semibold.otf') format('otf'),
    url('./fonts/SourceSerifPro-SemiboldIt.otf') format('otf');
} */

body {
  background-color: var(--bg-main);
  box-sizing: border-box;
  font-family: 'DM Sans', 'DM Serif Text', serif;
  color: var(--primary);
}
